.w14{
  font-size:14px;
}
.w12{
  font-size: 12px;
}
.w15{
  font-size: 15px;
}
.w21{
  font-size: 21px;
}
.c3{
  color: #333333;
}
.c6{
  color: #666666;
}
.c9{
  color: #999999;
}
.cy{
  color: #f6bb1b;
}
.bold{
  font-weight: bold;
}
